@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* styles.css */
body {
    font-family: Arial, sans-serif;
	background-color: black;
	color: white;
	margin: auto;
	padding: 0px;
	font-family: "Space Mono", monospace;
	overflow: hidden;
}

.main-cont {
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

.header-title {
	font-size: 40px;
	display: flex;
	background-color: black;
	width: fit-content;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	align-items: center;
}

.header-title a {
	text-decoration: none;
	color: white;
}

.header-summary {
	font-size: 15px;
	font-style: italic;
	padding-left: 20px;
}

.nav-cont {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100px;
	gap: 0px;
	margin-bottom: 10px;
	/* position: fixed; */
	z-index: 100;
}

.nav-element-cont {
	display: flex;
	flex-direction: row;
	gap: 10px;
	text-transform: lowercase;
	font-size: 25px;
	width: 100%;
	background-color: white;
	padding:20px;
	align-items: center;
}

.nav-element-cont a{
	text-decoration: none;
	color: black;
}

.nav-element {
	display: flex;
	flex-direction: row;
	gap: 10px;
}

.line {
	background-color: white;
	width: 100%;
	height: 1px;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
}

.spinning-star {
            transform-origin: center; /* Set the transform origin to the center */
            animation: spin 5s linear infinite; /* Apply the spin animation */
			color: red;
}

.content {
	width: 100%;
	position: fixed;
}

.content-cont {
	overflow: scroll;
	overflow-x: hidden;
	height: 100vh;
	margin-left: 40px;
	margin-top: 100px;
	padding-right: 400px;

}

.content-cont h1{
	font-size: 60px;
	text-decoration: underline;
}

.content-cont h2{
	font-size: 30px;
	text-decoration: underline;
}

.content-cont h3{
	font-size: 25px;
	text-decoration: underline	;
}

.content-cont h4{
	font-size: 20px;
	
}

.content-cont p {
	font-size: 17.5px;
	line-height: 30px;
}

.content-cont a {
	color: black;
	text-decoration: none;
	background-color: white;
	font-style: oblique;
	padding-left: 5px;
	padding-right: 5px;
}

.content-cont ul {
	font-size: 20px;
	border-style: none;
}

.content-cont li a{
	border-style: none;
	line-height: 40px;
}

.content-cont img{
	height: 100%;
	width: auto;
	max-width: 900px;
	border: white;
    border-style: dashed;
	transition: transform 0.3s ease-in-out;
}

.content-cont img:hover {
	animation: rotate 1s steps(2) forwards infinite;
}


.content-cont::-webkit-scrollbar {
	display: none;
}

.content-header {
	/* padding-top: 160px; */
}

.section-cont {
	width: 100% ;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.section {
	width: calc(100% / 3); /* Each div takes up one-third of the container */
	display: flex;
	flex-direction: column;
	gap: 10px;
	height: 100%;
	z-index: 50;
	overflow: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
  	scrollbar-width: none;  /* Firefox */
}


.section-group {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-bottom: 200px;
	align-items: center;
}

.section-element {
	text-transform: uppercase;
	font-size: 20px;
	
}

.section-element a {
	text-decoration: underline;
	color: white;
}

.section-img img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-radius: 0px;
    border: white;
    border-style: dashed;
	transition: transform 0.3s ease-in-out;
}

.section-img:hover img {
    animation: rotate 1s steps(2) forwards infinite;
  }

.section-img {
	width: 75%;
	padding-left: 20px;
	margin-bottom: 80px;
	padding-top: 10px;
}

.section-date {
	padding-left: 20px;
}

.section-title {
	display: flex;
	margin-bottom: 40px;
	padding-top: 160px;
	align-items: center;
}

.footer {
	position: absolute;
	right: 0px;
	top: 25px;
	z-index: 500;
}

.foot {
	height: 200px;
	width: auto;
}


/* Keyframes for the spin animation */
@keyframes spin {
	0% { transform: rotate(0deg); } /* Initial rotation */
	100% { transform: rotate(360deg); } /* Final rotation */
}

@keyframes rotate {
    0% {
      transform: rotate(0deg) scaleX(100%);
    }
    25% {
      transform: rotate(2deg) scaleX(95%);
    }
	50% {
		transform: rotate(0deg) scaleX(100%);
	}
	75% {
		transform: rotate(-2deg) scaleX(95%);
	}
    100% {
       transform: rotate(0deg) scaleX(100%);
    }
  }