<div id="index-container" class="disable-scrollbar">
    <a href="/"><div id="index-header">
        <div class="ascii">
      .--..              .---.           .-.        --.          ..--.          .-----------.      .--------.      .-------------.   
   -########+.        .#########.        -##-     .###.        +########-.      -###########+      ###########+.   .#############.   
 .##+      .##-      +##.     .##+       -###+   .####.      -##.      -##.     -#+                ##.       -#+         -#+         
.##-                ##-         +#-      -#+-##.-##.##.     .##.                -#+                ##.       .##         -#+         
-##                .##.         .##      -#+ -###+  ##.     +#-                 -#+-------         ##-------+##.         -#+         
-#+                .##.         .##      -#+ .###+  ##.     +#-                 -#########.        ########++.           -#+         
.##.               .##.         -#+      -#+-##.+##.##.     -##                 -#+                ##.                   -#+         
 -##        -+      .##-       -##.      -####.  -####.      +#+        +-      -#+                ##.                   -#+         
  .###--.-###-       .+##+-.-###-        -###.    .###.       .###-.-+###-      -#+..........      ##.                   -#+         
    .-+##+-.           .-+###+-          -##.       +#.         .-+##+-.        -###########+      +#.                   -#+  
        </div>       
<div class="ascii">  
  ..         ..       ..        ..       ..              ..
  ###       .##      .##.       ##.     .##.            .##  
  ####.     .##      .##.       ##.     .##.            .##
  ##.##-    .##      .##.       ##.     .##.            .##
  ## .##+   .##      .##.       ##.     .##.            .##
  ##   -##. .##      .##.       ##.     .##.            .## 
  ##    .##-.##      .##.       ##.     .##.            .## 
  ##     .#####      .##-      .##      .##.            .##
  ##       -###       .##+-..-###.      .##-.......     .##
  ##        -#+         .+####+.        .##########-    .##########
</div> 
    </div></a>
    <div id="ascii-menu">
      <div class="astr-line-menu">&#x2732; &#x2732; &#x2732;</div>
      <div class="list-container" id="menu-btn"><a class="button-link">MENU</a></div>
      <div class="astr-line-menu">&#x2732; &#x2732; &#x2732;</div>
    </div>
    <div id="nav-menu">
      <div class="list-container-mobile"><a href="/activities" class="button-link">activities &#8595;</a></div>
      <div class="list-container-mobile"><a href="https://conceptnull.substack.com/subscribe" target="_blank" class="button-link">newsletter &#8595;</a></div>
      <div class="list-container-mobile"><a href="https://www.instagram.com/conceptnull/" class="button-link">instagram &#8595;</a></div>
    </div>
    <div class="astr-line">&#x2732; &#x2732; &#x2732;</div>
    <div id="index-content">
        <p>A grassroot organisation of artists, creative technologist, designers, and educators focused on supporting a vibrant new media arts community in Ireland -- through our events, newsletter, and other activities.</p>         
    </div>
    <div id="index-links">
        <div id="index-link-list">
            <div class="list-container"><a href="/activities" class="button-link">activities &#8595;</a></div>
            <div class="list-container"><a href="https://conceptnull.substack.com/subscribe" target="_blank" class="button-link">newsletter &#8595;</a></div>
            <div class="list-container"><a href="#" class="button-link">instagram &#8595;</a></div>
        </div>
    </div>
</div>

<script src={{ url_for('static', filename='assets/js/toggle.js') }}></script>