<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='assets/styles.css') }}">
	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='assets/images/favicon.ico') }}">
<body>
	<div class='main-cont'>
		<div class='nav-cont'>
			<div class='header-title'>
				<a href="/">CØNCEPTNULL</a>
			</div>
			<div class='nav-element-cont'>
				{% for key, element in nav_elements.items() %}
				<div class='nav-element'><a href="{{ url_for('page_content', title=element.title) }}">
					{% if element.title == 'Concept Null' %}
						About
					{% else %}
						{{ element.title }}
					{% endif %}
				</a><div class='spinning-star'>	&#10022;</div></div>
				{% endfor %}
			</div>
			
		</div>
		<div class="content">
		{% block content %}
		{% endblock %}
		</div>
	</div>
	<a class="link-blank" href="https://conceptnull.substack.com/subscribe" target="_blank"><span id="subscribe-button">Subscribe</span></a>
</body>

</html>
