{% extends "base.html" %}
{% block title %}Ø | {{ title }}{% endblock %}
{% block content %}
<div class='content-cont'>
	<div class='collection-header'>{{ '(' + title + ')'}}</div>
	<div class='collection-cont'>
    {% for key, values in collection.items() %}
		
		<div class='collection-element'>
			<a href={{ '/' + key }}><div class='collection-title'> {{ key }} </div></a>
			<div class='collection-date'> {{ values.date }} </div>
			<a href={{ '/' + key }}><div class='section-img'><img src={{ values.source}}></div></a>
		</div>
		
	{% endfor %}
	
	</div>
	<div class='foot'></div>
</div>

{% endblock %}
