{% extends "base.html" %}
{% block title %} Ø | Publications{% endblock %}
{% block content %}
<div class='pub-section-cont'>
	<div class='pub-section'>
		<h1>Newsletter</h1>
		<p>Currently, we run a bi-weekly newsletter that aims to highlight different types of events and opportunities centered around new media and digital culture in Ireland.</p>
		<p>The newsletter is released on the <b>1st</b> and <b>15th</b> of every month through Substack - You can subcribe through Substack by clicking the **SUBSCRIBE** button, and receive it directly into your inbox~</p>
		<p>If you wish to sumbit any opportunities, events, residences (...) that would be a good fit for the newsletter -- please feel free to reach out to us by emailing us at <i>conceptnullofficial@gmail.com</i></p>
		<p>***</p>
		<p><i>The future plan we have for the platform is that users will have the ability to add their own entries into the upcoming newsletter through the Concept NULL wiki - acting as more of a decentralised noticeboard than just a newsletter. As for now, you can view our <a href="/newsletter{{ url_for('page_content', title=latest_title) }}">work-in-progress newsletter</a>, as we compile it for our Substack.</i></p>
		<p>***</p>
	</div>

	<div class='pub-section'>
		<h1>Projects</h1>
		<div class='section-group'>
			{% for key, values in projects.items() %}
			<div class='section-object'>
				<div class='section-element'><a href="{{ url_for('page_content', title=values.title) }}">↘ {{ values.title }}</a></div>
				<div class='section-date'>{{ values.date }}</div>
				<div class='section-img'><a href="{{ url_for('page_content', title=values.title) }}"><img src="{{ values.source }}"></a></div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>

{% endblock %}